<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Juntos Pelo Bem</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Juntos Pelo Bem</h1>
    <p>Projeto funcionando corretamente no Render 🚀</p>

    <!-- Botão funcional -->
   <button onclick="window.location.href='/sobre'">Testar</button>


    <!-- JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
